
        /*General Page Styling*/
        body {
            background: linear-gradient(135deg, #1d3557, #457b9d);
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height:100vh;
            margin: 0;       
         }

         /*Profile Card Styling*/
         .profile-card {
            background: white;
            border-radius: 20px;
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
            padding: 30px;
            text-align: center;
            width: 300px;
            transition: transform 0.3s ease;
         }

         .profile-card:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
         }

         /*Profile Image*/
         .profile-img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            object-fit: cover;
         }

         /* Name and Description */
         .profile-card h2 {
            margin: 15px 0 5px;
            font-weight: 600;
         }

         .profile-card p {
            color: aquamarine;
            font-size: 14px;
            margin-bottom: 20px;
         }

         /* Social Links */
         .social-links a {
            padding: 6px 12px;
            border: 1px solid blue;
            border-radius: 8px;
         }

         .social-links a:hover {
            color: bisque;
         }